*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.out*

# Cost analyzer cache
.cdk-cost-analyzer-cache/

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
