name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Install example project dependencies, needed for testing
        run: npm ci --prefix examples/single-stack
      
      - name: Run linting
        run: npx projen eslint
      
      - name: Run type checking
        run: npm projen lint
      
      - name: Test and build project
        run: npx projen build
